.section3{
    min-height: 50vh;
    background: var(--linear-gradient-blue);
}
.about{
    display: flex;
    justify-content: space-between;
}
.about .l-side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about .l-side>h3{
    color: var(--grey-clr);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.54375rem;
}
.about .l-side>p{
    color: var(--grey-clr);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.54375rem;
}

.about .l-side>h2{
    color:#ffffff;
}
.about .button{
    display: flex;
    margin-top: 4rem;
}
.about .r-side{
    position: relative;
}
.about .r-side .childSlab{
    position: absolute;
    top: 10%;
    left: -80%;
}

 /* media queriy for mobile display */
 @media (max-width:480px){
    .about .l-side>h2 {
        color: #ffffff;
    }
    .about {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 4rem;
    }
    .about .l-side {
        align-items: center;
    }
    .about .r-side .childSlab {
        display: none;
    }
    .about .l-side>p {
        font-size: 1rem;
    }
 }


