@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
  --primary-clr:#161626;
  --secondary-clr:#2001FF;
  --tertiary-clr:#9D9D9D;
  --heading-font-clr:#FFFFFF;
  --grey-clr:#9D9D9D;
  --fade-grey-clr:#BFBFBF;
  --linear-gradient-blue:radial-gradient(50% 50% at 50% 50%, rgba(32, 1, 255, 0.3) 0%, rgba(32, 1, 255, 0) 100%);
}
*,
*::after,
*::before{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color:black;
  color: white;
}

h1{
  font-size: 4rem;
  line-height: 4.72rem;
  font-weight: 600;
}
h2{
  font-size: 3rem;
  line-height:4.5rem ;
}

.container{
    padding:2rem;
    max-width: 1440px;
    margin-inline: auto;
    min-height:inherit;
}
section{
  margin-bottom: 5rem;
}
.container>div:first-child{
  min-height: inherit;
}
.button{
  display: flex;
}
 img,svg,picture{
 width: 100%;
 display: block;
 }

.flex-row{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.grid-row{
    display: grid;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}


@media (max-width:480px){
  .container{
    padding:1rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}
br{
  display: none;
}
}
